/*-------------------------header-------------------------*/
.pageheader {
  height: 230px;
  opacity: .95;
  width: 100%;
  /*background-color: #151515;*/
}

.page-content {
  overflow: hidden;
  max-width: 1350px;
}

/*-------------------------social-------------------------*/

.header_social {
  list-style-type:  none;
  font-size:        23px;
  position:         absolute;
  top:              40px;
  left:             70px;
}

.header_social li {
  margin-right:     5px;
  display:          inline-block;
}

.header_social a {
  color:            #DDDDDD;
}

/*-------------------------search-------------------------*/

.header_search-button {
  background-image:     url(../images/icons/icon-search.svg);
  background-repeat:    no-repeat;
  background-position:  right;
  font-size:            23px;
  position:             absolute;
  top:                  40px;
  right:                70px;
}

.header_search-button::before {
  font-family:          "metropolis-bold", sans-serif;
  font-size:            15px;
  text-transform:       uppercase;
  letter-spacing:       0.3rem;
  color:                #DDDDDD;
  content:              "search";
  padding-right:        34px;
}

/*---------------------Navigation-------------------------*/

.header_navi-box {
  margin-top:       auto;
  border-top:       1px solid rgba(255, 255, 255, 0.2);
  border-bottom:    1px solid rgba(255, 255, 255, 0.2);
  text-align:       center;
  margin:           0;
}

.header_navi {
  list-style-type:  none;
  margin: 0;
  padding: 0;
  font-family:      "metropolis-medium", sans-serif;
  font-size:        15px;
}

.header_navi li {
  display:          inline-block;
  position:         relative;
  padding:          0 2.5rem;
}

.header_navi li.choice {
  padding-right: 3rem;
}

.header_navi li a {
  display:          block;
  line-height:      75px;
  color:            rgba(255, 255, 255, 0.6);
}

.header_navi li.choice > a::after {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  content: '';
  display: block;
  height: 5px;
  width: 5px;
  margin-top: -4px;
  pointer-events: none;
  position: absolute;
  right: 1.8rem;
  top: 50%;
  /*-webkit-transform-origin: 66% 66%;*/
  /*-ms-transform-origin: 66% 66%;*/
  /*transform-origin: 66% 66%;*/
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.header_navi li:hover > a, .header_navi li:focus > a {
   color: #FFFFFF;
}

.header_navi li:hover li, .header_navi li:focus li {
   background: transparent;
}

.header_navi li.current > a {
   color: #FFFFFF;
}

.header_navi li ul {
   position:  absolute;
   top:       45px;
   left:      0;
   font-size: 14px;
   margin:    0;
   padding:   1.8rem 0;
   background:        #050505;
   border-radius:     0 0 3px 3px;
   z-index:           500;
   /*-webkit-transform: translate3d(0, 15px, 0);*/
   /*-ms-transform:     translate3d(0, 15px, 0);*/
   transform:         translate3d(0, 15px, 0);
   -webkit-transition: all 0.5s ease-in-out;
   transition:         all 0.5s ease-in-out;
   opacity:            0;
   visibility:         hidden;
}

.header_navi li:hover > ul {
   opacity:     1;
   visibility:  visible;
   top:         50px;
}

.header_navi li ul li {
   display:     block;
   text-align:  left;
   padding:     0;
   margin:      0;
   min-height:  33px;
   width:       100%;
}

.header_navi li ul li a {
   display:       block;
   white-space:   nowrap;
   padding:       7.5px 3rem 7.5px 2rem;
   font-family:   "metropolis-regular", sans-serif;
   line-height:   18px;
   color:         rgba(255, 255, 255, 0.6);
}

.header_navi li ul li a:hover, .header_navi li ul li a:focus {
   color: #FFFFFF;
}



/*---------------------Footer------------------------------*/

footer {
  padding-top:    5rem;
  padding-bottom: 3rem;
  font-size:      1.5rem;
  line-height:    2;
  color:          rgba(255, 255, 255, 0.4);
  margin-bottom:  -80px;
}

footer a {
  color: #FFFFFF;
}

footer h4 {
  font-family:    "metropolis-bold", sans-serif;
  font-size:      1.4rem;
  text-transform: uppercase;
  letter-spacing: .25rem;
  color:          #FFFFFF;
  margin-top:     0;
  position:       relative;
}

footer h4::after {
  content:          '';
  display:          block;
  height:           1.5px;
  width:            150px;
  background-color: rgba(255, 255, 255, 0.1);
  position:         absolute;
  left:             0;
  bottom:           50%;
}

.footer_main {
  margin-left  : 3.6rem;
  margin-right : 3.6rem;
}

.footer_link {
  margin-top:   10px;    
  list-style:   none;
  margin-left:  0;
}

.footer_link a {
  color:        rgba(255, 255, 255, 0.5);
}

.footer_link li {
  padding-left: 0;
}

.footer_copyright {
  text-align: center;
  margin-top: 10px;
}

.footer_copyright span {
  display:  inline-block;
}

.footer_copyright span:last-child::after {
  display: none;
}

p.lead {
  font-family:    "metropolis-medium", sans-serif;
  font-size:      1.8rem;
  line-height:    2.0;
  margin-top:     5rem;
  margin-bottom:  3.6rem;
  text-align:     justify;
  color:          #AAAAAA;
}
